@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-thin-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-thinitalic-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-lightitalic-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal; /* 400 */
    font-style: normal;
}

/* regular italic missing*/

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-mediumitalic-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2');
    font-weight: bold; /* 700 */
    font-style: normal;
}

/* bold italic missing */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-black-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-blackitalic-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

:root {
    --color-text-normal: #000000;
    --color-brand: #1992d4;
    --color-background-default: #e2e8f0;
    --color-background-light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body, html {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-rows: 150px 208px 1692px;
    grid-template-columns: 1fr 4fr;
}

header {
    background: var(--color-background-light);
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.banner {
    background: var(--color-background-light);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
    color: var(--color-text-normal);
}

.sidebar {
    background: var(--color-brand);
    grid-row: 1 / 4;
    grid-column: 1 / 2;

    color: #ffffff;
}

main {
    background: var(--color-background-default);
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    color: var(--color-text-normal);
}